Generate Border Radius CSS
<form action="post" id="borderRadiusForm">
    <label for="topLeft">Top Left</label><input id="topLeft" name="topLeft" class='topLeft' type='number' required/>&nbsp; px</br>
    <label for="topRight">Top Right</label><input id="topRight" name="topRight" class='topRight' type='number' required/>&nbsp; px</br>
    <label for="bottomLeft">Bottom Left</label><input id="bottomLeft" name="bottomLeft" class='bottomLeft' type='number' required/>&nbsp; px</br>
    <label for="bottomRight">Bottom Right</label><input id="bottomRight" name="bottomRight" class='bottomRight' type='number' required/>&nbsp; px</br>
    <textarea id='txtarea' rows='10' cols='50' disabled></textarea>
    <button type='submit' class='btn btn-default generate'>GO</button>
</form>