<form action="" id="borderRadiusForm">
    <label for="topLeft">Top Left</label>&nbsp;
    <input id="topLeft" name="topLeft" class='topLeft' type='number' required placeholder="px"/>
    <label for="topRight">Top Right</label>&nbsp;
    <input id="topRight" name="topRight" class='topRight' type='number' required placeholder="px"/>
    <label for="bottomLeft">Bottom Left</label>&nbsp;
    <input id="bottomLeft" name="bottomLeft" class='bottomLeft' type='number' required placeholder="px"/>
    <label for="bottomRight">Bottom Right</label>&nbsp;
    <input id="bottomRight" name="bottomRight" class='bottomRight' type='number' required placeholder="px"/>
    <textarea id='txtarea' rows='10' cols='50' disabled></textarea>
    <button type='submit' class='btn btn-default generate'>GO</button>
</form>