<form action="" id="boxShadowForm">
    <label for="inset">Inset:</label>&nbsp;
    <input id="inset" class='inset' type='checkbox'></br>
    <label for="horizontal">Horizontal Length</label>&nbsp;
    <input id="horizontal" name="horizontal" class='inputField horizontal-length' type='number' required placeholder="px"/>
    <label for="vertical">Vertical Length</label>&nbsp;
    <input id="vertical" name="vertical" class='inputField vertical-length' type='number' required placeholder="px"/>
    <label for="blur">Blur Radius</label>&nbsp;
    <input id="blur" name="blur" class='inputField blur-radius' type='number' required placeholder="px"/>
    <label for="spread">Spread</label>&nbsp;
    <input id="spread" name="spread" class='inputField spread' type='number' required placeholder="px"/>
    <label for="hexColor">Hex Color</label>&nbsp;
    <input id="hexColor" name="hexColor" class='inputField hex-color' type='text' required/>
    <textarea id='txtarea' rows='10' cols='50' disabled></textarea>
    <button type='submit' class='btn btn-default generate'>GO</button>
</form>